Package: qsort
Version: 0.3-beta
Installed-Size: 692
Maintainer: BiltuDas1
Architecture: all
Description: Quicker way to sort file according to user settings
  For More information visit https://github.com/BiltuDas1/qsort
